.headerOption{
    display:flex;
    flex-direction: column; 
    margin-right: 30px;
    align-items: center;
    cursor: pointer;
    object-fit:contain;
    color: rgb(167, 163, 163);
    
}

.headerOption:hover{
    color:white;
} 
.headerOption__title{
    margin: 0%;
    font-size: 12px;
    font-weight: 500;

}